<div class="wrapper" style="background-image: url('/assets/images/background.jpg');background-size:cover;">
  <div class="inner">
    <form action="">

      <h3>Login Form</h3>
      <div class="form-wrapper">
        <label for="">Email</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-wrapper">
        <label for="">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="checkbox">
      </div>

      <button (click)="getPosts()">Login Now</button>
      {{ posts | async | json}}
      <button (click)="createPosts()">Login Post</button>
      <br/>
      {{ newPost | async | json}}
      <!-- <div *ngFor="let post of posts | async">
        {{ post | json }}
      </div> -->
    </form>
  </div>
</div>
