<div class="dash-body">
  <h1 class="dash-body-name">Hello Kamalka,</h1>
  <div class="row card-decks">
    <div class="card text-center col-md-3 col-sm-12 first-card m-3">
      <div class="card-body">
        <h5 class="card-title">Monday</h5>
        <p class="card-text">This is for First Day</p>
        <a href="#" class="btn btn-primary" (click)="monalert()" >See More</a>
      </div>
    </div>
    <div class="card text-center col-md-3 col-sm-12 second-card m-3">
      <div class="card-body">
        <h5 class="card-title">Tuesday</h5>
          <p class="card-text">This is for Second Day</p>
            <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card text-center col-md-3 col-sm-12 third-card m-3">
      <div class="card-body">
        <h5 class="card-title">Wednesday</h5>
        <p class="card-text">This is for Third Day</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
  </div>
  <div class="row card-decks pb-5">
    <div class="card text-center col-md-3 col-sm-12 first-card m-3">
      <div class="card-body">
        <h5 class="card-title">Thursday</h5>
        <p class="card-text">This is for Fourth Day</p>
        <a href="#" class="btn btn-primary" (click)="monalert()" >See More</a>
      </div>
    </div>
    <div class="card text-center col-md-3 col-sm-12 second-card m-3">
      <div class="card-body">
        <h5 class="card-title">Friday</h5>
          <p class="card-text">This is for Fifth day</p>
            <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
    <div class="card text-center col-md-3 col-sm-12 third-card m-3">
      <div class="card-body">
        <h5 class="card-title">Saturday</h5>
        <p class="card-text">This is for Sixth day</p>
        <a href="#" class="btn btn-primary">See More</a>
      </div>
    </div>
  </div>
</div>
