<div class="container-fluid">
      <div class="row ">
            <div class="col-2">
                  <app-side-navbar class="container-fluid"></app-side-navbar>
            </div>
            <div class="col-8" >
                  <nav class="navbar navbar-expand-lg dash-heading-nav" >
                        <a class="dash-name" >Dashboard</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item mt-2 mb-2 ml-2 mr-5">
                              <i class="fa fa-bell bell-icon"></i>
                            </li>
                            <li class="navbar-item mr-3">
                              <img src = "https://www.tutorialspoint.com/videotutorials/images/numerical_ability_home.jpg" 
                              class = "img-circle" style="border-radius: 50%;height: 30px;width:30px">
                            </li>
                          </ul>
                        </div>
                      </nav>
                  <app-body-dashboard></app-body-dashboard>
            </div>
            <div class="col-2" >
                  <app-side-navbar class="container-fluid"></app-side-navbar>
            </div>
      </div> 
</div>
      