<div class="container p-5">
    <p class="heading"><font color=" #E53935">DIET</font><font color="#FFB300">More</font> Stories</p>
    <div class="row ">
        <div class="col-md-3 col-sm-12 col-xm-12 " >
            <div class="container " style="border: 2 black;">
                <h1>Saman Kumara</h1>
                <p>adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh 
                  adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh 
                  adwgdfj dhhgjgkh adwgdfj dhhgjgkh adwgdfj dhhgjgkh</p>

            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xm-12 ">
            <div class="container ">
                <h1>Latha Walpola</h1>
                <p>dfhfgngmg,gjgf dfnhhj fgnhg</p>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xm-12" >
            <div class="container " >
                <h1>Saman Kumara</h1>
                <p>adwgdfj dhhgjgkh</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xm-12 " >
            <div class="container ">
                <h1>Latha Walpola</h1>
                <p>dfhfgngmg,gjgf dfnhhj fgnhg</p>
            </div>
        </div>
    </div>
</div>
