<div class="container p-5">
    <p class="heading"><font color=" #E53935">DIET</font><font color="#FFB300">More</font> Stories</p>
    <div class="card-deck">
        <div class="card" >
            <img class="card-img-top" src="./assets/images/lady1.jpg" alt="Card image cap" 
            style="border-radius:0 0 15% 15%;">
          <div class="card-body">
            <h3 class="card-title">Krishani <strong>Asanthika</strong></h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/man1.jpg" alt="Card image cap"
          style="border-radius:0 0 15% 15%;">
          <div class="card-body">
            <h3 class="card-title">Ramal <strong>Fernando</strong></h3>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./assets/images/lady2.jpg" alt="Card image cap"
          style="border-radius:0 0 15% 15%;">
          <div class="card-body">
            <h3 class="card-title">Sashini <strong>Weerasinghe</strong></h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
</div>
