input {
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
    opacity:0.9;
}
label,h1{
   color:rgb(66, 64, 64);
}
label{
  font-size:14px;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
 }

mat-horizontal-stepper{
  background-image:none;
}
form,input,label{
  background-image:none;
}
.alert{
  background-color: white;
  border: none;
}
.alert-danger{
  color: red;
}

button a{
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 50px) {
  .questions{
    margin-bottom: 0;
  }


}
