<div class="row">
    <div class="col-md-6 col-sm-12 col-xm-12" style="background-color:#EF9A9A; ">
        <h1 class="left-text">
        What is this 
        <p class="name">DIET<font color="white">Plus<font color="#E53935">+</font></font></p>?
        </h1>
    </div>
    <div class="col-md-6 col-sm-12 col-xm-12">
        <div class="container">
            <img src="assets/images/logo.jpg" class="logo">
            <p class="right-text">
            This platform helps patients to get a balanced diet according to the medical drugs 
            they are consuming daily. This will help them to find more about their diet rituals 
            and the foods you should consume to be healthy. This provides Sri Lankan Diet Plans 
            for any patient who is interested in consuming Sri Lankan diets. Diets consist of
            diffferent potatoes, green leaves found in rural areas which urban people do not have 
            heard of these curable foods. In a tight livestyle, this will help people to easily 
            reach diet plans without spending time on dieticians. 
            </p>
            <p class="right-text">
            DietPlus+ platform helps rural farmers to uplift their livelihoods. They contact with 
            this contact details and can find buyers for their products. 
            </p>
              
        </div>
    </div>
</div>
