.buttonmain{
  padding: 25px;
  background-color: #5f0000;
  font-weight:bold;
  color: #e2cdcc;
  border-color: white;
  width: 300px;
  border-radius:50px;
  margin-top:20px;
}
.buttonmain:hover{
  background-color: #f8b9b9;
  font-weight:bold;
  color: #85110b;
}
body
{
font-family: sans-serif;
}

.minor-text-two{
  font-size:25px;
  margin-bottom:15px;
  width :fit-content;
  font-weight:bold;
}

.text-inform{
  font-size:15px;
  width:70%;
  text-align:justify;
}

@media only screen and (max-width: 550px) {
  .buttonmain{
    align-items:center;
    margin: auto;
  }
  .minor-text-two{
    font-size:large;
    width :fit-content;
    text-align: center;
  }

}
@media only screen and (max-width: 1000px) {
  .text-inform{
    width:100%;
  }
  .buttonmain{
    align-items:center;
    margin: auto;
    margin-bottom: 15px;
  }
  .minor-text-two{
    margin: auto;
    margin-bottom: 15px;
  }

}


