.buttonmain{
  padding: 25px;
  background-color: #5f0000;
  font-weight:bold;
  color: #e2cdcc;
  border-color: white;
  width: 300px;
  border-radius:50px;
  margin-top:20px;
}
.buttonmain:hover{
  background-color: #f8b9b9;
  font-weight:bold;
  color: #85110b;
}
body
{
font-family: sans-serif;
}

.minor-text-two{
font-size:25px;
margin-bottom:15px;
font-weight:bold;
}

.text-inform{
font-size:15px;
width:50%;
text-align:justify;
}

@media only screen and (max-width: 600px) {
  .text-inform{
      width:100%;
    }
    .buttonmain{
      align-items:center;
    }
}
#svg-hey{
animation: lone 25s infinite ease-out;
}
#circle{
animation: circles 20s infinite linear;
}


@keyframes lone{
from{
transform:skewX(0deg);
}
to{
transform: skewX(30deg);
}
}
@keyframes circles{
from{
transform:rotate(0deg);
}
to{
transform: rotate(130deg);
}
}


#man{
animation: man-img 10s infinite linear;
}
@keyframes man-img{
0%{
transform:translateX(0deg);
}
100%{
transform: translateX(100px);
}
}
