 <div class="container">
   <div class="forms-container">
     <div class="signin-signup">
       <form class="sign-in-form" #form="ngForm"  (submit)="submitLoginDetails(form)">
         <h2 class="title">Sign In</h2>
         <!-- //Email -->
         <div class="input-field">
          <em class="fa fa-envelope"></em>
          <input type="text" placeholder="Email" class="form-control"  
          [(ngModel)]="service.loginData.email" name="email" required>
         </div>
         <!-- //password -->
         <div class="input-field">
          <em class="fa fa-lock"></em>
          <input type="password" name="password" class="form-control" placeholder="Password"
          [(ngModel)]="service.loginData.password" required>
       </div>
       <input type="submit" value="Sign In" class="btn solid">

       <p class="social-text">Or Sign in with social platforms</p>
       <div class="social-media">
         <a href="#" class="social-icon">
           <em class="fa fa-facebook"></em>
         </a>
         <a href="#" class="social-icon">
          <em class="fa fa-twitter"></em>
        </a>
        <a href="#" class="social-icon">
          <em class="fa fa-google"></em>
        </a>
       </div>
       </form>
     </div>
   </div>
   <div class="panels-container">
     <div class="panel left-panel">
       <div class="content">
         <h3>New User</h3>
         <p>fdgjhgfddg  ewrheh ewrhgfd fdgjhgfddg  ewrheh ewrhgfd fdgjhgfddg  ewrheh ewrhgfd</p>
         <button class="btn transparent" id="sign-up-btn" routerLink="/Signup">Sign up</button>
       </div>
       <img src="assets/svg/login.svg" alt="" class="image">
     </div>
   </div>
 </div>


<!-- <div class="wrapper" style="background-image: url('/assets/images/background.jpg');background-size:cover;">
  <div class="inner">
    <form [formGroup]=" ">

      <h3>Login Form</h3>
      <div class="form-group">
      <div class="form-wrapper">
        <label for="">Email</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-wrapper">
        <label for="">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="checkbox">
      </div>

      <button>Login Now</button>

      <br/>
      </div>
    </form>
</div>
</div>  -->
