<!-- Footer -->
<footer class="font-small " >

  <!-- Footer Links -->
  <div class="container">


    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">
          This platform helps patients to get a balanced diet according to the medical drugs
            they are consuming daily. This will help them to find more about their diet rituals
            and the foods you should consume to be healthy. This provides Sri Lankan Diet Plans
            for any patient who is interested in consuming Sri Lankan diets. Diets consist of
            diffferent potatoes, green leaves found in rural areas which urban people do not have
            heard of these curable foods. In a tight livestyle, this will help people to easily
            reach diet plans without spending time on dieticians.
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 text-center">

          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/CodeVoide/">
            <em class="fa fa-facebook"></em>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw" href="#">
            <em class="fa fa-twitter"></em>
          </a>
          <!-- Instagram-->
          <a type="button" class="btn-floating btn-insta" href="#">
            <em class="fa fa-instagram"></em>
          </a>
          <!-- LinkedIn-->
          <a type="button" class="btn-floating btn-in" href="#">
            <em class="fa fa-linkedin"></em>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://localhost:4200/"> dietmore.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
