.dash-heading-nav{
      background-color: #78909C;
}
.dash-name{
      color: #ffffff;
      font-size: medium;
}
.bell-icon{
      color: #ffffff;
}
.nav-dash{
      background-color: #78909C;
      width: 100%;
}