  <div class="container pt-5 pb-5">
    <div class="row m-5" style="background-color: #ddf1ee;border-radius: 2%;">
      <div class="col-md-6 col-sm-12 col-xm-12" style="margin-bottom: 7%;">
        <div class="row m-5">
          <div class="col-md-10 col-sm-10 col-xm-10 ">
            <div class="container ">
            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
              <ul class="list-unstyled">
                <li>
                  <p>
                    <em class="fa fa-home mr-3" ></em>Galle, Sri Lanka</p>
                </li>
                <li>
                  <p>
                    <em class="fa fa-envelope mr-3"></em> dietplusplus@gmail.com
                  </p>
                </li>
                <li>
                  <p>
                    <em class="fa fa-phone mr-3"></em> + 94 712 000 000
                  </p>
                </li>
                <li>
                  <p>
                    <em class="fa fa-print mr-3"></em> + 94 712 001 000
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row m-5">
            <div class="col-md-10 col-sm-10 col-xm-10">
              <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

                <!-- Facebook -->
                <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/CodeVoide/">
                  <em class="fa fa-facebook"></em>
                </a>
                <!-- Twitter -->
                <a type="button" class="btn-floating btn-tw" href="#">
                  <em class="fa fa-twitter"></em>
                </a>
                <!-- Instagram-->
                <a type="button" class="btn-floating btn-insta" href="#">
                  <em class="fa fa-instagram"></em>
                </a>
                <!-- LinkedIn-->
                <a type="button" class="btn-floating btn-in" href="#">
                  <em class="fa fa-linkedin"></em>
                </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xm-12 mt-5">
        <div class="container">
        <h5 class="font-weight-bold text-uppercase mb-4">We love to hear from you</h5>
          <form [formGroup]=" ">
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-sm">
                Submit
              </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>





