<mat-horizontal-stepper class="m-5">
  <mat-step label="Personal Details">
    <form [formGroup]=" ">
      <label class="m-5"><img src="assets/images/team.png" width="40" height="40" style="margin-right:10px;"/>What is your Name?</label>
      <input type="text" placeholder="Enter your first name and last name" /><br>
      <label class="ml-5 mr-5 mb-5"><img src="assets/images/height.png" width="40" height="40" style="margin-right:10px;"/>Enter your height?</label>
      <input type="text" placeholder="Enter your Height" />
      <label class="ml-5 mr-5 mb-5"><img src="assets/images/weight.png" width="40" height="40" style="margin-right:10px;"/>Enter your weight?</label>
      <input type="text" placeholder="Enter your Weight" /><br/>
      <label class="ml-5 mr-5 mb-5"><img src="assets/images/gmail.png" width="40" height="40" style="margin-right:10px;"/>Enter your Email Address?</label>
      <input type="text" placeholder="Enter your Email Address" /><br>
      <input class="btn btn-primary m-5" type="button" value="NEXT >>"/>
    </form>
  </mat-step>
  <mat-step label="Disease Details">
    ggg
  </mat-step>
  <mat-step label="">
    dfg
  </mat-step>
  <mat-step label="label4">
    ggg
  </mat-step>
</mat-horizontal-stepper>
