<div class="container pt-5 pb-5">
  <p class="heading">Diseases treated by <font color=" #E53935">DIET</font><font color="#FFB300">More</font> </p>
  <div class="card-deck">
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/obe.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Obesity</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/migrain.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Migrain</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/ckd.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Chronical Kidney Disease</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/diabetes.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Diabetes</strong></h3>
      </div>
    </div>
  </div>
  <pre></pre>
  <div class="card-deck">
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/gas.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Gastritis</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/hrt.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Heart Diseases</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/bloodpressure.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>High Blood Pressure</strong></h3>
      </div>
    </div>
    <div class="card" style="border-radius: 5% 5% 0 0;">
      <img class="card-img-top" src="./assets/images/anemia.JPG" alt="Card image cap" 
      style="border-radius: 5%;height:180px;">
      <div class="card-body text-center">
        <h3><strong>Anemia</strong></h3>
      </div>
    </div>
  </div>
</div>



