.col-3{
    display: grid;
    
}
.heading{
    font-size:50px;
    font-weight:bolder;
    text-align:center;
    color:grey;
    padding-top:5%;
    padding-bottom:5%;
}
.disease-tab{
    position: relative;
    margin-top:120px;
    margin-left:20px;
    margin-right:20px;
    padding:5px 0 5px 0;
    text-align:center;
    background-color: #E53935;
    color:#FFB300;
    font-weight:bolder;
    border-radius:5%;
}