<div class="row">
    <div class="col-md-6 col-sm-12 col-xm-12" >
        <div class="container mt-5 mb-5">
            <div class="disease-tab" style="background-color:#FFF176;margin-top:2%;">Heart Disease</div>
            <div class="disease-tab" style="background-color:#CCFF90;">High Blood Pressure</div>
            <div class="disease-tab" style="background-color:#B3E5FC;">Diabetes</div>
            <div class="disease-tab" style="background-color:#FFF59D;">High blood cholestrol</div>
            <div class="disease-tab" style="background-color:#FFCCBC;">Chronic Kidney Disease</div>
            <div class="disease-tab" style="background-color:#FFF176;">Gastritis</div>
            <div class="disease-tab" style="background-color:#CCFF90;">Stokes</div>
            <div class="disease-tab" style="background-color:#B3E5FC;">Obesity</div>
            <div class="disease-tab" style="background-color:#FFF59D;">Malnutrition</div>
            <div class="disease-tab" style="background-color:#FFCCBC;">Mental Illness</div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xm-12" style="background-image: linear-gradient(rgba(245, 12, 12, 0.726), rgb(247, 245, 242,0.5)), url(assets/images/h1.png);
    background-size:cover;">
        <div class="container">
            <h1 class="left-text">
            For Diseases Like . . .
            </h1>
        </div>
    </div>
</div>
