<div class="container pt-5 pb-5">
      <p class="heading">Diseases treated by <font color=" #E53935">DIET</font><font color="#FFB300">More</font> </p>
  <div class="row" style="height:250px;">

      <div class="col-md-3 col-sm-12 col-xm-12" style="background-image:url(assets/images/obe.JPG) ;
      background-size:cover;">
        <div class="disease-tab">Obesity</div>
      </div>
      <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/migrain.JPG) ;
      background-size:cover;">
        <div class="disease-tab">Migrain</div>
      </div>
      <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/ckd.JPG) ;
      background-size:cover;">
        <div class="disease-tab">Chronical Kidney Disease</div>
      </div>
      <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/diabetes.JPG) ;
      background-size:cover;">
        <div class="disease-tab">Diabetes</div>
      </div>
  </div>
  <div class="row" style="height:250px;">

    <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/gas.JPG) ;
    background-size:cover;">
      <div class="disease-tab">Gastritis</div>
    </div>
    <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/hrt.JPG) ;
    background-size:cover;">
      <div class="disease-tab">Heart Diseases</div>
    </div>
    <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/bloodpressure.JPG) ;
    background-size:cover;">
      <div class="disease-tab">High Blood Pressure</div>
    </div>
    <div class="col-md-3 col-sm-12 col-xm-12" style="background-image: url(assets/images/anemia.JPG) ;
    background-size:cover;">
      <div class="disease-tab">Anemia</div>
    </div>
</div>
</div>


<!--
  <div class="col-md-12 col-sm-12 col-xm-12" >
        <div class="container mt-5 mb-5">
            <div class="disease-tab" style="background-color:#FFF176;margin-top:2%;">Heart Disease</div>
            <div class="disease-tab" style="background-color:#CCFF90;">High Blood Pressure</div>
            <div class="disease-tab" style="background-color:#B3E5FC;">Diabetes</div>
            <div class="disease-tab" style="background-color:#FFF59D;">High blood cholestrol</div>
            <div class="disease-tab" style="background-color:#FFCCBC;">Chronic Kidney Disease</div>
            <div class="disease-tab" style="background-color:#FFF176;">Gastritis</div>
            <div class="disease-tab" style="background-color:#CCFF90;">Stokes</div>
            <div class="disease-tab" style="background-color:#B3E5FC;">Obesity</div>
            <div class="disease-tab" style="background-color:#FFF59D;">Malnutrition</div>
            <div class="disease-tab" style="background-color:#FFCCBC;">Mental Illness</div>
        </div>
    </div> -->
