.left-text{
    padding:260px 50px 240px 50px;
    text-align:center;
    font-size:50px;
    font-weight:bolder;

}
.name{
    margin:30px;
    color:#E53935;
}
.logo
{
    display:block;
    height: 150px;
    width: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15%;
    margin-bottom:3%;
}
.right-text{
    margin-left:5%;
    margin-right:5%;
    font-size:16px;
    text-align:justify;
}
