<section class="container-fluid">
  <app-nav-bar></app-nav-bar>
</section>
<section class="container-fluid pb-5" style="background-image: linear-gradient(rgba(238, 222, 222, 0.5), rgb(247, 245, 242,0.5)), url(assets/images/banner.jpg);
background-size:cover;">

  <div class="container-fluid" >
    <div class="row" >

      <div class="col-md-6 col-sm-12 col-xm-12 mt-5 text-center" >

        <img src="assets/images/dietmore.png" style="margin-top:20%;"/>

      </div>
      <div class="col-md-6 col-sm-12 col-xm-12" style="margin-top:20%;" >
      <div>

              <p class="minor-text-two">SriLankan Diet Plan Platform for Patients</p>
              <p class="text-inform">
              This platform helps patients to get a balanced diet according to the medical drugs
              they are consuming daily. This will help them to find more about their diet rituals
              and the foods you should consume to be healthy . . .
              </p>


              <div >
                <div class="row text-center">
                  <button type="button" class="btn btn-lg buttonmain mb-5" routerLink="#">Make your Diet Plans Now</button>
                </div>

              </div>
          </div>
      </div>

    </div>
  </div>

</section>

<section class="container-fluid" id="aboutus">
  <app-aboutus></app-aboutus>
</section>

<section class="container-fluid" id="diseases">
  <app-diseases></app-diseases>
</section>

<section class="container-fluid" id="customer-section" style="background-image: linear-gradient(rgba(245, 12, 12, 0.526), rgb(247, 245, 242,0.5)), url(assets/images/user.jpg);
background-size:cover; ">
  <app-customer-section></app-customer-section>
</section>

<section class="container-fluid" id="contact-us">
  <app-contact-us></app-contact-us>
</section>

<section class="container-fluid" style="background-color: #E0E0E0;"><br><br>
  <app-footer></app-footer>
</section>

